/* Exercise 1 */
.ex-1-square:hover {
    background-color: red;
    transition: background-color 1s;
}

/* Exercise 2 */
.ex-2-square:active {
    width: 100%;
    transition: width 1s;
}

/* Exercise 3 */
.ex-3-square:hover {
    border-radius: 50%;
    transition: border-radius 1s;
}

/* Exercise 4 */
.ex-4-square:hover {
    background-color: transparent;
    transition: background-color 1s;
}

/* Exercise 5 */
.ex-5-square:hover {
    width: 80px;
    height: 80px;
    transition: width 1s, height 1s;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
    transition: width 1s, height 1s;
}

/* Exercise 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}

/* Exercise 7 */
.ex-7-img:hover {
    filter: hue-rotate(40deg) drop-shadow(3px 3px 5px #4b4b4b);
    transition: filter 0.8s;
}

/* Exercise 8 */
.ex-8-img:hover {
    filter: grayscale(50%) contrast(150%);
    border-radius: 20px;
    transition: all 0.5s;
}

/* Exercise 9 */
.ex-9-img:hover {
    filter: blur(1px) drop-shadow(0 0 5px black);
    border-radius: 20px;
    transform: scale(1.2);
    transition: all 1s;
}

/* Exercise 10 */
.ex-10-icon {
    animation: counterclockwise 1.5s linear infinite;
}

@keyframes counterclockwise {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    75% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* Exercise 11 */
.ex-11-icon:hover {
    animation: clockwise 1.5s linear infinite;
}

@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Exercise 12 */

/* Exercise 13 */